body {
    background-image: url('sky.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin: 0px 0px 0px 0px;
    }
@media screen and (max-width: 1000px) {
#status{
margin-left:auto ;
margin-right: auto;
}
#temperature{
font-size: 3rem;
}
#feels-like{
font-size: 1.5rem;
}
#searchbar{
float: none;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
padding: 0px 0px 0px 0px;
display: flex;
align-items: center;
justify-content: center;
width:100%;
}
#forcast{
column-gap: 10rem;
}
#details{
margin-top: 0px;
margin-right: auto ;
margin-left: auto;
justify-content: space-evenly;
}
#details table{
margin-top: 20px;
}
#location span{
font-size: 1.1rem;
}
#location{
width: 100%;
padding: 4px 4px 4px 4px;
display: flex;
justify-content: center;
}
}